<%- include("../partials/head") %>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



  <div class="card-group">
    <div class="card">
      <a href="https://youtu.be/ZARbmpPcj90"><img src= "https://seeklogo.com/images/J/javascript-logo-851B872133-seeklogo.com.png" width="100px"></a>
      <div class="card-body">
        <h5 class="card-title">Javascript Project</h5>
        <p class="card-text">Clicking this will direct you to a video where you can see my past projects</p>
      </div>
    </div>




  <!-- <div class="container">
    <form action="https://formspree.io/f/mvoelnlo" method="POST">
    <form>
      <div class="mb-3">
        <label for="First Name" class="form-label">First Name</label>
        <input type="Fname" class="form-control" name="name" id="name" aria-describedby="First Name" required>
      </div>
      <div class="mb-3">
        <label for="Second Home" class="form-label">Last Name</label>
        <input type="Lname" class="form-control" name="Lname" id="Lname" aria-describedby="LastName" required>
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" class="form-control"  name= "email" id="email" aria-describedby="email" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Message</label>
        <input type="message" class="form-control"  name= "message" id="message" aria-describedby="Message" required style="height:250px;">
      </div>
      <div class="mb-3 form-check">
      
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->



    <!-- <div class="container">
      <form action="https://formspree.io/f/mvoelnlo" method="POST">
     <div class="row">
    <input type="text" style="width: 200px;" type="name"   name="name"  placeholder="Your First Name" required> 
    <input type="text" style="width: 200px;" type="Lname"  name="Lname"  placeholder="Your Last Name" required>
    <input type="text" style="width: 200px;"  type="email"  name="email"  placeholder="Your Email" required>
    <input type="text" style="height: 200px;"type="message"name="message" placeholder="Any Concerns you can right here.." required>
      <button type="submit">Send</button>
    </form>
     -->

</body>
<style>





label{
  padding: 20px;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 300;
}

.container{
  padding: 20px;
}



body{
  background: grey;
  animation: triple infinite linear 10s;
}

@keyframes triple{
  0%{background: #000000;}
  50%{background: #999999;}
  80%{background: #999999;}
  100%{background: #000000;}  
}

.card:hover{
  box-shadow:  0px 9px 16px 0 rgb(227, 226, 228);;
  transition: box-shadow 2s;
  width: 100%;
  transition: 0.5s;
  align-items: center;
  animation: fadeIn 2s; 
}

</style>
</html>



