<%- include("../partials/head") %>
<html>
<head>
<meta>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
 <b><h1 width="250px", height="250px">My Work</h1></b>
<h2> This section will be used for providing with past projects I've done and all the programming Languages I've learnt on the far left of the screen </h2>
<hr style=" border-width: 10px;">
<h3> 1) Before College</h3>

<p> Before enrolling into College, I started learinng programming with python with Thonny which is a IDE software, During this two year span, I learn the basic Essential for python such as Variables, Loops, Operators, Functions, and lastly learning Python Turtle, being able to create images and furthermore create aspiring images, As a starter I made a calculator and millionare math question project for practice, Unfortunatly I cant show any Images or Videos since My school locked my account I'm unable to provide evidence to you to see, however I'll update this website section to show what it would look like</p> 
<img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Thonny_logo.png">
<hr style="border-width: 10px;">

<h4>2) Javascript Assignment</h4>
 <p>The Javascript Assignment consist of Html, and Javascript but mainly Javascript, the style of questions that were problem solving, this was a massive push for someone who is brand new to Javascript. However this assignment by itself improved a lot of my thought process signicicantly. This assignment was Important for me because it helps where my progress is from learning Javascript from September up until Assignment 2, On the right of the Screen Theres a video where it would contain my Work and my Outcome</p>

<img src="https://seeklogo.com/images/J/javascript-logo-851B872133-seeklogo.com.png" style="width: 100px;">
<hr style="border-width: 10px;">


<h5> 3) Esports Assignment</h5>
<p> The Esports Assignment consists of learning MySQl and NodeJs, one portion of the assignment was learning MYSQL, the database part of the assignment is something I like since you get to recall information and have it working as if it was an acutal website, the second part of the assignment would be that I learnt was NodeJs, which was a javascript runtime on web applications, and also along with it would be to use ExpressJS which is a framework used to build web applications from the ground up, NodeJs was a crucial part of this assignment since I get to do build user interface with the Help of Boostrap which is an open source web framework used to help build websites, Features I used from Bootstrap would contain a navigation bar, buttons, card decks, warnings, and many more. And it allowed my design and ideas come to light. And also learning to build a user friendly  user Interface, Overall This is my favourite assignment because it contains so many features and languages all at once</p>
<img src="https://www.shareicon.net/data/256x256/2016/07/14/607513_black_4096x4096.png" width="25px">
<img src="https://www.svgrepo.com/show/333576/nodejs.svg" width="25px">


<hr style="border-width: 10px;">


<H6>  4) Unity Assignment</H6>
<p>The Unity Assignment consist of learning one language which was C sharp, At first it was hard to adjust to since I just came back from learning Javascript, NodeJs, and MYSQL, and the way that I had to write c sharp was a bit difficult but after a few trials and error, furthermore, the Unity software itself was complicated at first since you have to follow many steps in order for your game to work but after a couple of weeks I've adjusted to its features,For me, the intresting part of this assignment would be learning how to use the unity software to its potenital, What I mean is that theres features that can make or break your game, including prefabs, backgrounds, movements, colliders, and including sound effects as if you were playing a real game, and many more, My favourite part from this assignment specifically would be the final game, and how its playable cause before this, I had many errors with this including bullet trajecotry, colliders, movements and many more, To overcome these challengers I had people help me including teachers, students, and also watching youtube videos from people who made games </p>
<img src="https://www.svgrepo.com/show/368620/c-sharp.svg" width="200px">
<img src="https://www.svgrepo.com/show/473818/unity.svg" width="200px">




</div>



</body>
<style>





h6{
    text-align: center;
    animation: fadeIn 3s;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Inter';
    font-size: xx-large
}




h5{
    text-align: center;
    animation: fadeIn 3s;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
    font-size: xx-large
}



h4{
    
    text-align: center;
    animation: fadeIn 3s;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
    font-size: xx-large
}

img{
    animation: fadeIn 9s;
    display: flex;
    align-items: center;
    width: 125px;
    margin-right: 15px;
    
    
    
    
    
}

p{
    animation: fadeIn 2s;
    text-align: left;
    color: #ffffff9a;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
}

hr{
    animation: fadeIn 2s;
    color: grey;
}



h3{
    text-align: center;
    animation: fadeIn 3s;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
    font-size: xx-large
}



h1{
    text-align: center;
    font-family: 'Inter';
    animation: fadeIn 3s;
    font-weight: bold;

}
h2{
    text-align: center;
    animation: 3s;
    font-weight: bold;
    font-family: "Inter";
    color: white;
    animation: fadeIn 4s;
}



body{
  background: grey;
  animation: triple ease-in-out infinite 7s;
  animation-duration: 12s;
  width: 100%;
  height: 100%;
}

@keyframes triple{
  0%{background: #777777;}
  20%{background: #a5a5a5;}
  40%{background: #ffffff;}
  60%{background: #000000;}
  80%{background: #ffffff;}
  100%{background: #777777;}
}

@keyframes fadeIn{
from {
 opacity: 0;
}
to {
 opacity: 1;
}

}
        